//search
.search {
  display: flex;
  margin-bottom: 18px;
  &-input {
    input {
      height: 46px;
      width: 709px;
      margin-left: 209px;
      margin-right: 16px;
      padding-left: 32%;
      border-radius: 8px;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 8px;
    }
  }
  &-btn {
    height: 46px;
    width: 138px;
    border-radius: 8px;
    background: #204080;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

//Landing Page

.results {
  height: 300px;
  width: 709px;
  margin-left: 209px;
  margin-bottom: 152px;
  border-radius: 4px;
  border: 1px solid #484848;

  &-title {
    display: flex;
    &-city {
      height: 31.42px;
      width: 345px;
      margin-left: 32px;
      margin-top: 18px;
      font-size: 17px;
      line-height: 21px;
      color: #484848;
    }
    &-email {
      height: 31px;
      width: 350px;
      margin-top: 12px;
      color: #484848;
    }
  }
  &-name {
    height: 26px;
    width: 207px;
    margin-left: 32px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #686868;
  }
  &-cizgi {
    height: 0px;
    width: 644.0006076203483px;
    margin-left: 30px;
    border: 1px solid #585858;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  &-more {
    height: 52px;
    width: 643.9996948242188px;
    margin-left: 317px;
    margin-top: 42px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
  }
}

//ListPage Page

.listPage {
  &-header {
    display: flex;
  }
  img {
    height: 63px;
    width: 149px;
    margin-left: 37px;
    margin-top: 27px;
    border-radius: 0px;
  }
  input {
    height: 46px;
    width: 509px;
    margin-left: 35px;
    margin-top: 35px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 21px;
    color: #484848;
  }
  &-header-btn {
    height: 46px;
    width: 138px;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 80px;
    border-radius: 8px;
    background: #4f75c2;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 21px;
  }
}

//ListPageResults
.listPageResults {
  margin-left: 223px;
  margin-right: 407px;
  &-orderby {
    display: flex;
    justify-content: flex-end;

    img {
      height: 24px;
      width: 26px;
      margin-left: 754px;
      border-radius: 0px;
    }

    &-dropdown {
      position: relative;
      display: inline-block;
      height: 25px;
      width: 97px;
      margin-left: 8px;
      font-size: 18px;
      line-height: 21px;
      color: #484848;
      background: #ffffff;

      &:hover &-dropbtn-content {
        display: block;
      }

      &-dropbtn {
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

        &-content {
          display: none;
          position: absolute;
          z-index: 1;

          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }

          a:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
